FIRESTORE_ENABLED=false
GCP_PROJECT_ID=
GCS_BUCKET_NAME=

GITHUB_TOKEN=
GITHUB_OWNER=jagangill001
GITHUB_REPO=builder-core
GITHUB_DEFAULT_BRANCH=main
GITHUB_CHECKS_WORKFLOW_NAME=Repo Checks
GITHUB_DEPLOY_WORKFLOW_NAME=Deploy Cloud Run
